{{ "<!-- FOOTER -->" | safeHTML }}
<section id="footer" class="bg-dark">
    <div class="container text-center">
      <h2 class="section-heading">Nos partenaires :</h2>
      <a href="http://www.agglo-carene.fr/" target="_blank"><img class="logo" src="img/logo_carene.png"/></a>
      <a href="http://www.saintnazaire.fr/" target="_blank"><img class="logo" src="img/logo_stnazaire.png"/></a>
      <br/>
      <a href="https://numerique.imie.fr/campus/saint-nazaire/" target="_blank"><img class="logo" src="img/logo_imie.png"/></a>
      <a href="https://www.eicesi.fr/ecole-ingenieur-saint-nazaire/" target="_blank"><img class="logo" src="img/logo_cesi.png"/></a>
    </div>
</section>
